title: "Tetora's Blog"
description: "Notes on calm building"
url: "https://tetora.blog"
baseurl: ""
permalink: /posts/:slug/
markdown: kramdown
theme: null

pagination:
  enabled: true
  per_page: 5
  permalink: "/page:num/"

plugins:
  - jekyll-paginate-v2
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-sitemap

collections:
  posts:
    output: true

defaults:
  - scope:
      path: ""
    values:
      layout: default
